[Unit]
Description=Enable NVIDIA T30 CPU Hot-Plugging
DefaultDependencies=no
After=sysinit.target
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nv-conf.sh
 
[Install]
WantedBy=sysinit.target
